<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>상품명</th>
                        <th>가격</th>
                        <th>재고수량</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="items : ${items}">
                        <td th:text="${items.id}"></td>
                        <td th:text="${items.name}"></td>
                        <td th:text="${items.price}"></td>
                        <td th:text="${items.stockQuantity}"></td>
                        <td>
                            <a href="#" th:href="@{items/{id}/edit (id=${items.id})}" class="btn btn-primary" role="button">수정</a>
                        </td>
                        <!--id 자리에는 item 객체의 id 필드값을 나타낸다.-->
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </div>
</body>
</html>